
.Title
{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    font-weight: bolder;
    font-family: 'Arimo', sans-serif;
}
.slide-show
{
    width: 300px;
    padding: 30px;
    margin: 20px;
    background-image: url(../Images/camo-image.svg);
}
.backgrd{
    background-image: url(../Images/camo-image.svg);
    color:white
}
.slide-show-container
{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
    
}
.gun-container
{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    font-family: 'Arimo', sans-serif;
}
.gun-button
{
    margin-right: 20px;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    color:#556b2f;
    font-weight: 1000;
    
} 
.gun-button:active 
{
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

.InfoContent{
    color:azure;
    padding: 50px;
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

